.game {
    margin-left: auto;
    margin-right: auto;
}

h1 {
   font-family: 'Joti One', cursive;
   font-size: 2.9em;
   text-align: center;
}

.point_font {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}

.gui {
    width: 896px;
    height: 150px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.points {
    width: 30%;
    float: left;
    background: white;
    height: 80%;
}

.controls {
    text-align: center;
}

.dialog {
    width: 70%;
    height: 100%;
    float:left;
}

.dialog p {
    font-size: 1.4em;
    font-family: 'Share Tech Mono', sans-serif;

}

.cr-stage {
    margin-left: auto;
    margin-right: auto;
}

.point-text {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 5px;
}

#minimap {
    width: 896px;
    height: 150px;
}

